<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>11ty-Serene</title>
    <link>https://www.your.site/</link>
    <description>Welcome to 11ty-Serene!</description>
    <language>en-us</language>
    <lastBuildDate>{{ collections.blog[0].date | dateToRfc822 }}</lastBuildDate>
    <atom:link href="https://www.your.site/blog/rss.xml" rel="self" type="application/rss+xml" />


    {% for post in collections.blog %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>https://www.your.site{{ post.url }}</link>
      <guid>https://www.your.site{{ post.url }}</guid>
      <description>{{ post.data.description }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
